.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:skyblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-btn {
  margin-top: 22px;
}
.button{
  margin-left: 33px;
  border-radius: 19px;
  background-color:lightgrey;
  border: none;
  width: 100px;
  height: 34px;
}

.setImg{
  margin-top: 24px;
  width: 491px;
  margin-left: 33px;
}

.imgWidth{
  width: 124px;
  height: 130px;
}

.line{
  width: 67px;
  height: 3px;
  margin-top: 5px;
}

.amount{
  margin-top: 7px;
  width: 86%;
  text-align: -webkit-left;
  margin-left: 46px;
}

.cardType{
  margin-top: 22px;
  margin-right: 10px;
  display: flex;
}


.dashGraph {
  text-align: left;
  margin-left: 42px;
  cursor: pointer;

}

.line1{
  display: flex;
  margin-top: 13px;
}

.percent{
  margin-top: -7px;
}








